## Part 1 --- Basic Exploration

In [8]:
import pandas as pd
# Loading dataset into Pandas Dataframe
sales_df = pd.read_csv("C:/Users/Rahul/Downloads/datasets-main/datasets-main/store_sales (1).csv")

In [9]:
# displaying the first and last 5 rows
sales_df.head()  
sales_df.tail()

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
95,S_96,Texas,7,10,20,20,10,15,15,21,15,7,23,22
96,S_97,California,13,6,7,15,22,10,21,23,10,6,12,9
97,S_98,Texas,16,9,6,14,20,13,11,10,8,22,17,22
98,S_99,Arizona,18,16,9,5,12,22,11,13,21,17,19,10
99,S_100,California,5,23,17,24,15,21,19,10,12,20,5,9

In [10]:
# Checking Shape, data types, non-null counts
print("Shape:", sales_df.shape)
print("Data types and info:")
print(sales_df.info())

Shape: (100, 14)
Data types and info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   store_id  100 non-null    object
 1   city      100 non-null    object
 2   Jan       100 non-null    int64
 3   Feb       100 non-null    int64
 4   Mar       100 non-null    int64
 5   Apr       100 non-null    int64
 6   May       100 non-null    int64
 7   Jun       100 non-null    int64
 8   July      100 non-null    int64
 9   Aug       100 non-null    int64
 10  Sep       100 non-null    int64
 11  Oct       100 non-null    int64
 12  Nov       100 non-null    int64
 13  Dec       100 non-null    int64
dtypes: int64(12), object(2)
memory usage: 11.1+ KB
None

In [14]:
# Printing Column names and summary statistics
print("Columns:", sales_df.columns)
print("Summary statistics:\n", sales_df.describe())

Columns: Index(['store_id', 'city', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'July',
       'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Total_Yearly_Sales'],
      dtype='object')
Summary statistics:
               Jan         Feb         Mar         Apr         May         Jun  \
count  100.000000  100.000000  100.000000  100.000000  100.000000  100.000000
mean    14.460000   15.090000   14.560000   14.570000   13.560000   13.800000
std      5.712683    6.055459    5.782803    4.965039    5.883241    5.962848
min      5.000000    5.000000    5.000000    5.000000    5.000000    5.000000
25%     10.000000    9.000000    9.750000   11.000000    8.000000    9.000000
50%     15.000000   16.000000   15.000000   14.500000   13.000000   13.500000
75%     19.000000   21.000000   19.250000   19.000000   19.000000   19.000000
max     24.000000   24.000000   24.000000   24.000000   24.000000   24.000000

             July         Aug         Sep        Oct         Nov         Dec  \
count  100.000000  100.000000  100.000000  100.00000  100.000000  100.000000
mean    14.380000   15.810000   14.910000   14.10000   15.310000   13.570000
std      5.566458    6.152432    5.284043    5.87496    6.461533    5.852143
min      5.000000    5.000000    5.000000    5.00000    5.000000    5.000000
25%     10.000000   11.000000   11.000000    9.00000   10.000000    8.000000
50%     15.000000   17.000000   14.500000   14.00000   16.000000   13.000000
75%     19.000000   21.000000   19.000000   19.00000   21.250000   19.000000
max     24.000000   24.000000   24.000000   24.00000   24.000000   24.000000

       Total_Yearly_Sales
count          100.000000
mean            58.680000
std             10.479301
min             33.000000
25%             51.750000
50%             60.000000
75%             65.000000
max             86.000000

In [12]:
# Finding Total and average sales per month
months = ['Jan','Feb','Mar','Apr']
print("Total sales per month:\n", sales_df[months].sum())
print("Average sales per month:\n", sales_df[months].mean())

Total sales per month:
 Jan    1446
Feb    1509
Mar    1456
Apr    1457
dtype: int64
Average sales per month:
 Jan    14.46
Feb    15.09
Mar    14.56
Apr    14.57
dtype: float64

In [13]:
# Calculating Total yearly sales for all stores
sales_df['Total_Yearly_Sales'] = sales_df[months].sum(axis=1)
print("Total yearly sales for all stores:", sales_df['Total_Yearly_Sales'].sum())

Total yearly sales for all stores: 5868